{% extends 'hack/base.html' %}
{% block ranks_active %}active{% endblock %}

{% block content %}
<div class="departments-container container-fluid">

    <!-- user -->
    <div class="row">
        <div class="col-sm-12 text-right">
            <p>Welcome {{ user.username }}</p>
        </div>
    </div>
    <div class="container text-center">
    <div class="row">
      <h2>Friday Hacks</h2>
      <hr>
    </div>
    <a href="{% url 'hack:propose' %}">
        <button type="button" class="btn btn-default btn-lg active">
            <i class="fa fa-plus" aria-hidden="true"></i> Propose
        </button>
    </a>
    <a href="{% url 'hack:form_teams' %}">
        <button type="button" class="btn btn-default btn-lg active">
            <i class="fa fa-users" aria-hidden="true"></i> Teams
        </button>
    </a>
    <a href="{% url 'hack:show_ranks' %}">
        <button type="button" class="btn btn-default btn-lg active">
            <i class="fa fa-list-ol" aria-hidden="true"></i> Ranks
        </button>
    </a>
  </div>


  <div class="col-md-12 col-xs-12" style="margin-top:20px;">
  <h3>Project List</h3>
      {% if message %}
       <p>{{ message }}</p>
      {% endif %}

      {% if projects %}
  <table class="table table-bordered table-hover table-striped table-foldersystem">
    <thead>
      <tr>
        <th>#</th>
        <th>Date</th>
        <th>Project Title</th>
        <th>Project Description</th>
        <th>Proposed by</th>
        <th>Status</th>
        <th># Votes</th>
        <th>Vote</th>
      </tr>
    </thead>
    <tbody>
      {% for project in projects %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ project.date }}</td>
        <td>{{ project.project_title }}</td>
        <td>{{ project.project_description }}</td>
        <td>{{ project.proposed_by }}</td>
        <td>{{ project.status }}</td>
        <td>{{ project.votes }}</td>
        <td>
            <a href="{% url 'hack:form_teams' %}">
                <button type="button" class="btn btn-default">
                <i class="fa fa-arrow-up" aria-hidden="true"></i>
                </button>
            </a>
        </td>

      </tr>
      {% endfor %}
    </tbody>
    </table>
    {% else %}
    <p style="text-align: center;"> No projects available.</p>
    {% endif %}
  </div>
</div>
{% endblock %}
